<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Danh Sách Khách Hàng</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Tên Khách Hàng
                                    </th>
                                    <th>
                                        Username
                                    </th>
                                    <th>
                                        Password
                                    </th>
                                    <th>
                                        Số Điện Thoại
                                    </th>
                                    <th>
                                        Địa Chỉ
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </thead>
                                <tbody>
                                    <% listClient.forEach(function(item){ %>
                                    <tr>
                                        <td>
                                            <%= item.fullname %>
                                        </td>
                                        <td>
                                            <%= item.username %>
                                        </td>
                                        <td>
                                            <%= item.password %>
                                        </td>
                                        <td>
                                            <%= item.phone %>
                                        </td>
                                        <td>
                                            <%= item.address %>
                                        </td>
                                        <td>
                                            <%= item.email %>
                                        </td>
                                        <td>
                                            <a href="/edit-client">
                                                <button type="button" class="btn btn-success"><i
                                                        class="fas fa-edit"></i></button>
                                            </a>
                                            <button type="button" class="btn btn-danger"><i
                                                    class="far fa-trash-alt"></i></button>
                                        </td>
                                    </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title mt-0"> Thêm Khách Hàng</h4>
                        <p class="card-category"> Khách Hàng Sẽ Được Thêm Ở Đây</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <form class="form-inline" name="fr" action="/api/client" method="post">
                                <div class="form-group mr-2" style="width: 30%;">
                                    <label for="fullname">Tên Khách Hàng:</label>
                                    <input name="fullname" type="text" class="form-control" required style="width:100%">
                                </div>
                                <div class="form-group" style="width: 30%;">
                                    <label for="username">UserName</label>
                                    <input name="username" type="text" class="form-control" required style="width:100%">
                                </div>
                                <div class="form-group" style="width: 30%;">
                                    <label for="password">Password</label>
                                    <input name="password" type="text" class="form-control" required style="width:100%">
                                </div>
                                <div class="form-group" style="width: 30%;">
                                    <label for="phone">Phone</label>
                                    <input name="phone" type="text" class="form-control" required style="width:100%">
                                </div>
                                <div class="form-group" style="width: 30%;">
                                    <label for="address">Address</label>
                                    <input name="address" type="text" class="form-control" required style="width:100%">
                                </div>
                                <div class="form-group" style="width: 30%;">
                                    <label for="email">Email</label>
                                    <input name="email" type="text" class="form-control" required style="width:100%">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-submit">Save</button>
                                </div>
                            </form>
                            <!-- <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Tên Khách Hàng
                                    </th>
                                    <th>
                                        Số Điện Thoại
                                    </th>
                                    <th>
                                        Địa Chỉ
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="text" placeholder="Name">
                                        </td>
                                        <td>
                                            <input type="text" placeholder="Number">
                                        </td>
                                        <td>
                                            <input type="text" placeholder="Địa Chỉ">
                                        </td>
                                        <td>
                                            <input type="text" placeholder="Email">
                                        </td>
                                        <td>
                                            <button class="btn btn-submit">Save</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>