<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Thông Tin Sản Phẩm</h4>
            <p class="card-category">Product</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Tên Sản Phẩm
                  </th>
                  <th>
                    Giá
                  </th>
                  <th>
                    Số Lượng
                  </th>
                  <th>
                    Actions
                  </th>
                </thead>
                <tbody>
                  <% listProduct.forEach(function(item){ %>
                  <tr>
                    <td>
                      <%= item.name %>
                    </td>
                    <td>
                      <%= item.price %>
                    </td>
                    <td>
                      <%= item.count %>
                    </td>
                    <td>
                      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal"><i
                          class="fas fa-edit"></i></button>
                      <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                    </td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header card-header-primary">
            <h4 class="card-title mt-0">Thông Tin Khách Hàng</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Tên Khách Hàng
                  </th>
                  <th>
                    Username
                  </th>
                  <th>
                    Password
                  </th>
                  <th>
                    Số Điện Thoại
                  </th>
                  <th>
                    Địa Chỉ
                  </th>
                  <th>
                    Email
                  </th>
                  <th>
                    Actions
                  </th>
                </thead>
                <tbody>
                  <% listClient.forEach(function(item){ %>
                  <tr>
                    <td>
                      <%= item.fullname %>
                    </td>
                    <td>
                      <%= item.username %>
                    </td>
                    <td>
                      <%= item.password %>
                    </td>
                    <td>
                      <%= item.phone %>
                    </td>
                    <td>
                      <%= item.address %>
                    </td>
                    <td>
                      <%= item.email %>
                    </td>
                    <td>
                      <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                      <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                    </td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>